:root {
  interpolate-size: allow-keywords;
}

details {
  overflow: hidden;

  summary {
    cursor: pointer;
    padding: var(--space-2xs);
    /* padding-block-end: var(--space-3xs); */
    background-color: color-mix(in srgb, var(--color-lightgray), #0000 80%);
    display: flex;
    gap: var(--space-2xs);
    transition: var(--transition-base);
    border-radius: var(--space-s);

    &:hover {
      background-color: color-mix(in srgb, var(--color-lightgray), #0000 90%);
    }

    &::before {
      content: "☞";
      transition: var(--transition-base);
    }
  }

  &:open {
    summary {
      border-radius: var(--space-s) var(--space-s) 0 0;

      &::before {
        rotate: 90deg;
      }
    }
  }
}

details::details-content {
  color: hsl(0 0% 78%);
  font-size: 1rem;
  block-size: 0;
  transition:
    block-size 0.5s,
    content-visibility 0.5s;
  transition-behavior: allow-discrete;
}

details:open::details-content {
  block-size: auto;
}
