.double-column {
  display: flex;
  gap: var(--space-l);
  align-items: baseline;
  text-align: justify;

  p {
    font-size: inherit;
  }

  @container layout (max-width: 42em) {
    flex-wrap: wrap;
    gap: var(--space-s);
  }
}
