.drag-handle {
  background: #ccc;
  cursor: col-resize;
  border: none;
  width: 5px;
  height: 100%;
  padding: 0;
  position: relative;

  > span {
    font-size: 1.25rem;
    position: fixed;
    bottom: 17.5vh;
    width: var(--space-m);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ccc;
    z-index: 1000;
    translate: calc(-50% + 2.5px) 0;
    transition: var(--transition-base);
  }

  &:hover,
  &:active {
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);

    > span {
      scale: 1.35;
    }
  }

  &:active > span {
    background-color: color-mix(in srgb, #ccc, black 25%);
  }

  @media (width < 42em) {
    display: none;
  }
}
