.exception-controls {
  display: none;
  position: relative;

  .back-button {
    right: var(--space-s);
  }

  > div {
    display: none;
    flex-direction: column;
    gap: var(--space-s);
  }

  details form {
    display: flex;
    flex-direction: column;

    label:has(input:checked) {
      background-color: rgba(255, 255, 255, 0.15);
      color: var(--color-white);
    }

    label {
      position: relative;
      transition: var(--transition-base);
      cursor: pointer;
      padding-inline: var(--space-2xs);

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }

      &:has(input:focus-visible) {
        outline: 3px dotted var(--color-white);
      }
    }
  }
}

.exception-controls__h1-1,
.exception-controls__h2-1,
.exception-controls__h2-2,
.exception-controls__h2-3 {
  details label {
    font-family: var(--font-headline);
  }
}

.exception-controls__p-1,
.exception-controls__p-2,
.exception-controls__p-3,
.exception-controls__quote-1,
.exception-controls__p-4,
.exception-controls__alert-1,
.exception-controls__p-5,
.exception-controls__p-6,
.exception-controls__p-7,
.exception-controls__p-8,
.exception-controls__quote-2,
.exception-controls__double-column-1,
.exception-controls__email,
.exception-controls__p-9,
.exception-controls__p-10 {
  details label {
    font-family: var(--font-body);
  }
}
