.form {
  label {
    font-size: var(--step-3);
    text-align: center;
    font-family: var(--font-headline);
    color: var(--color-white);
  }

  input {
    padding: var(--space-3xs);
    font-size: var(--step-1);
  }
}
