#grid-debugger {
  display: none;

  &.visible {
    display: block;
  }
}

body:has(option[value="columns"]:checked) .grid-column-lines {
  opacity: 1;
}

body:has(option[value="grid"]:checked) .grid-grid-lines {
  opacity: 1;
}

.grid-column-lines {
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: 10;
  transition: var(--transition-base);
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [xtra-large-start] var(--xtra-large)
    [extend-start] var(--extend)
    [popout-start] var(--popout)
    [content-start] var(--content)
    [inset-start] var(--inset)
    [inset-end] var(--content)
    [content-end] var(--popout)
    [popout-end] var(--extend)
    [extend-end] var(--xtra-large)
    [xtra-large-end] var(--full)
    [full-end];

  pointer-events: none;

  &.visible {
    opacity: 1;
  }
}

.grid-column-lines .line {
  height: 100vh;
  width: 2px;
  background-image: repeating-linear-gradient(
    var(--color-debug) 0 70%,
    transparent 70% 100%
  );
  background-size: 2px 6px;
  justify-self: stretch;
}

/* Plaats de lijnen op gridlijnen */
.line--full-start {
  grid-column-start: full-start;
}
.line--xtra-large-start {
  grid-column-start: xtra-large-start;
}
.line--extend-start {
  grid-column-start: extend-start;
}
.line--popout-start {
  grid-column-start: popout-start;
}
.line--content-start {
  grid-column-start: content-start;
}
.line--inset-start {
  grid-column-start: inset-start;
}
.line--inset-end {
  grid-column-start: inset-end;
}
.line--content-end {
  grid-column-start: content-end;
}
.line--popout-end {
  grid-column-start: popout-end;
}
.line--extend-end {
  grid-column-start: extend-end;
}
.line--xtra-large-end {
  grid-column-start: xtra-large-end;
}
.line--full-end {
  grid-column-start: full-end;
}

.grid-grid-lines {
  --grid-size: 2rem;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  opacity: 0;
  background-size: var(--grid-size) var(--grid-size);
  background-image: linear-gradient(
      to right,
      var(--color-debug) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--color-debug) 1px, transparent 1px);
}
