.info {
  font-size: 0.9rem;
  gap: var(--space-2xs);
  margin-block-start: var(--space-s);

  summary {
    display: flex;
    gap: var(--space-3xs);
    color: var(--color-white);
    margin-block-end: var(--space-2xs);

    &::before {
      display: none;
    }

    span {
      transition: var(--transition-base);
      text-decoration: underline;
    }

    svg {
      flex-shrink: 0;
      min-width: var(--space-s);
      transition: 0.4s ease-out;
      margin-inline-end: var(--space-3xs);
    }

    &:hover {
      span {
        translate: 0.2rem 0;
      }

      svg {
        rotate: 1turn;
      }
    }
  }
}
