.main-control-panel__btn-controls {
  flex-direction: column;
  display: none;
  border-color: transparent;
  position: relative;

  .back-button {
    position: absolute;
    top: 0;
    right: var(--space-3xs);
    padding: var(--space-2xs);

    &:hover {
      svg {
        rotate: 90deg;
      }
    }

    svg {
      transition: var(--transition-base);
    }
  }
}

.link-styling {
  text-decoration: underline;
  color: var(--color-secondary);
}

.btn-styling {
  font-size: var(--step-0);
  border-radius: var(--btn-radius, 1rem);
  padding-block: var(--btn-padding-block, 0.5rem);
  padding-inline: var(--btn-padding-inline, 1rem);
  border: 2px solid var(--color-headline);
  width: fit-content;
  margin-inline: auto;
  background-color: var(--color-btn-default-bg);
  color: var(--color-btn-default-text);
  text-decoration: none;
  transition: var(--transition-base);
  position: relative;

  &:hover,
  &.hover-styling {
    transform: var(--btn-hover-transform, translateY(-0.2rem));
    background-color: var(--color-btn-hover-bg, var(--color-black));
    color: var(--color-btn-hover-text, var(--color-white));
  }

  &:active {
    transform: var(--btn-active-transform, scale(0.98));
    background-color: var(
      --btn-active-bg,
      color-mix(in srgb, var(--color-secondary), black 30%)
    );
  }

  &:focus-visible,
  &.focus-styling {
    outline: var(--btn-focus-outline-thickness, 3px)
      var(--btn-focus-outline-style, dashed)
      var(--color-btn-focus-outline, #f09);
    outline-offset: var(--btn-focus-outline-offset, 2px);
  }

  &.focus-styling:hover {
    transform: none;
    background-color: var(--color-btn-default-bg);
    color: var(--color-btn-default-text);
  }
}

.drag-container {
  position: relative;
  height: var(--space-2xl);
  width: var(--space-2xl);

  .drag-area {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    overflow: hidden;
  }

  .drag-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--color-mediumgray);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    transition: 0.05s ease-out;
  }

  .drag-handle:active {
    cursor: grabbing;
    background: var(--color-lightgray);
  }
}
