#main-control-panel {
  grid-column: 3;
  font-size: clamp(0.75rem, 0.286rem + 1.9vw, 1rem);
  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: var(--color-mediumgray);
  color: var(--color-white);
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 0.1);
  font-family: var(--font-controls);
  transition: var(--transition-base);
  display: grid;
  grid-template-columns: 50px 1fr;
  justify-content: center;

  @media (width < 42em) {
    display: none;
  }

  &:has(.main-control-panel__button[aria-expanded="false"]) {
    /* translate: calc(100% - (var(--space-2xs) * 2)) 0; */

    .main-control-panel__button svg {
      scale: 1 1;
    }
  }

  .main-control-panel__button {
    /* display: none; */
    background-color: var(--color-mediumgray);
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    transition: var(--transition-base);
    padding-inline: var(--space-2xs);
    width: 50px;
    grid-column: 1;

    &:hover {
      background-color: var(--color-mediumgray-hover);
    }

    &:focus-visible {
      outline: 1px dashed var(--color-white);
      outline-offset: -4px;
      background-color: var(--color-darkgray);

      svg {
        outline: 1px dotted var(--color-lightgray);
        outline-offset: 12px;
        border-radius: 5rem;
      }
    }

    svg {
      scale: -1 1;
      transition: var(--transition-base);
    }
  }

  .main-control-panel__scroll-container {
    display: flex;
    overflow-y: scroll;
    height: 100vh;
    padding: var(--space-s) 0;
    flex-direction: column;
    /* width: min(27vw, 24rem); */
    max-width: 24rem;
    grid-column: 2;
    /* margin-inline: auto; */

    > * {
      padding-block-end: var(--space-m);
      padding-inline: var(--space-s);

      &:not(:first-of-type) {
        border-top: 1px solid var(--color-lightgray);
        padding-block-start: var(--space-m);
      }
    }

    h2 {
      font-size: clamp(0.75rem, 0.286rem + 1.9vw, 1rem);
      font-family: var(--font-controls);
    }

    h3 {
      font-size: clamp(0.7813rem, 0.7543rem + 0.1106vw, 0.84rem);
      font-family: var(--font-controls);
    }
  }
}

.main-control-panel__content {
  .content-preview * {
    overflow-x: hidden;
    white-space: nowrap;
  }
}

.grid-type-selector button::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: var(--color-white);
  rotate: 45deg;
  top: 50%;
  left: 10%;
}

body:has(#grid-debugger.visible) .grid-type-selector button::before {
  display: none;
}
