@property --100vw {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

:root {
  --100vw: 100vw;
  --px-width: tan(atan2(var(--100vw), 1px));

  --viewport-min: 390;
  --viewport-max: 1000;

  --lh-min: 1.5;
  --lh-max: 1.6;
  --lh-calc: calc(
    (var(--lh-max) - var(--lh-min)) * (var(--px-width) - var(--viewport-min)) /
      (var(--viewport-max) - var(--viewport-min)) + var(--lh-min)
  );
  --lh: clamp(var(--lh-min), var(--lh-calc), var(--lh-max));

  --min-type-scale: 1.05;
  --max-type-scale: 1.2;
  --fluid-type-scale: calc(
    (var(--max-type-scale) - var(--min-type-scale)) *
      (var(--px-width) - var(--viewport-min)) /
      (var(--viewport-max) - var(--viewport-min)) + var(--min-type-scale)
  );
  --type-scale: clamp(
    var(--min-type-scale),
    var(--fluid-type-scale),
    var(--max-type-scale)
  );

  --minimum-content-padding: var(--space-s-m);

  /** TRACK WIDTHS **/
  --full-max-width: 1fr;
  --content-max-width: 42rem;
  --popout-max-width: calc(var(--content-max-width) * var(--type-scale));
  --extend-max-width: calc(
    var(--content-max-width) * var(--type-scale) * var(--type-scale)
  );
  --xtra-large-max-width: calc(
    var(--content-max-width) * var(--type-scale) * var(--type-scale) *
      var(--type-scale)
  );

  --inset-max-width: calc(var(--content-max-width) * 0.89285714);

  /** TRACK SIZES **/
  --full: minmax(var(--minimum-content-padding), 1fr);
  --xtra-large: minmax(
    0,
    calc((var(--xtra-large-max-width) - var(--extend-max-width)) * 0.5)
  );
  --extend: minmax(
    0,
    calc((var(--extend-max-width) - var(--popout-max-width)) * 0.5)
  );
  --popout: minmax(
    0,
    calc((var(--popout-max-width) - var(--content-max-width)) * 0.5)
  );
  --content: minmax(
    0,
    calc((var(--content-max-width) - var(--inset-max-width)) * 0.5)
  );
  --inset: min(
    var(--inset-max-width),
    100% - var(--minimum-content-padding) * 2
  );
}

html:has(.main-control-panel__button[aria-expanded="true"]) {
  .page-layout,
  .grid-column-lines {
    translate: -12rem 0;

    @media (width < 42em) {
      translate: 0;
    }
  }
}

.page-layout,
.full-width {
  transition: var(--transition-base);

  > * + * {
    margin-block-start: var(--stack-space, var(--space-s-m));
  }
}
.page-layout > *,
.full-width > * {
  grid-column: content;
}

.page-layout,
.full-width {
  display: grid;
  grid-template-columns:
    [full-start]
    var(--full)
    [xtra-large-start]
    var(--xtra-large)
    [extend-start]
    var(--extend)
    [popout-start]
    var(--popout)
    [content-start]
    var(--content)
    [inset-start]
    var(--inset)
    [inset-end]
    var(--content)
    [content-end]
    var(--popout)
    [popout-end]
    var(--extend)
    [extend-end]
    var(--xtra-large)
    [xtra-large-end]
    var(--full)
    [full-end];
}

/** TWO COLUMN LAYOUT - @todo **/
.page-layout.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: clamp(var(--space-s), 25vw, 25rem);
  gap: var(--space-m-l); /* adjust the gap between columns */
}

.page-layout.two-column > * {
  grid-column: span 1;
}

/** CLASSES **/
.full {
  grid-column: full;
}
.full-start {
  grid-column-start: full-start;
}
.full-end {
  grid-column-end: full-end;
}

.xtra-large {
  grid-column: xtra-large;
}
.xtra-large-start {
  grid-column-start: xtra-large-start;
}
.xtra-large-end {
  grid-column-end: xtra-large-end;
}

.extend {
  grid-column: extend;
}
.extend-start {
  grid-column-start: extend-start;
}
.extend-end {
  grid-column-end: extend-end;
}

.popout {
  grid-column: popout;
}
.popout-start {
  grid-column-start: popout-start;
}
.popout-end {
  grid-column-end: popout-end;
}

.content {
  grid-column: content;
}
.content-start {
  grid-column-start: content-start;
}
.content-end {
  grid-column-end: content-end;
}

.inset {
  grid-column: inset;
}
.inset-start {
  grid-column-start: inset-start;
}
.inset-end {
  grid-column-end: inset-end;
}

.full-width {
  grid-column: full;
}
.full-content,
.full-content-nopad {
  grid-column: full;
}
.full-content {
  padding-inline: var(--minimum-content-padding);
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 2rem 0;
  background: var(--color-background);
  color: var(--color-body);
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  accent-color: var(--color-secondary);
}

:is(h1, .h1-styling, h2, .h2-styling, h3, .h3-styling, h4, .h4-styling):not(
    #main-control-panel h1,
    #main-control-panel h2,
    #main-control-panel h3,
    .alert h3
  ) {
  color: var(--color-primary);
  font-family: var(--font-headline);
  font-weight: 400;
  font-style: normal;
}

.italic {
  font-style: italic;
}

h1,
h2,
h3 {
  line-height: 1.2;
  text-wrap: balance;
}

h1,
.h1-styling {
  font-size: var(--step-5);
  font-weight: bold;
}

h2,
.h2-styling {
  font-size: var(--step-3);
  font-weight: bold;
  --stack-space: var(--space-l-xl);

  & + :is(p, h3, h4) {
    --stack-space: var(--space-2xs-xs);
  }
}

h3,
.h3-styling {
  font-size: var(--step-1);
  font-weight: 400;
  --stack-space: var(--space-m-l);

  & + * {
    --stack-space: var(--space-2xs-xs);
  }
}

p,
.p-styling {
  letter-spacing: 0.015em;
  word-spacing: 0.01em;
  font-size: var(--step-0);
  line-height: 1.6;
  line-height: var(--lh);
  line-height: var(--line-height, 1.6);
  text-wrap: pretty;
  font-family: var(--font-body);
}

.intro {
  font-size: var(--step-1);
  line-height: 1.4;
  text-wrap: pretty;
  margin-block-start: 0.7em;
  letter-spacing: 0;
}

.full-width {
  background-color: var(--color-primary);
}

.quote {
  color: #fff;
  font-size: var(--step-4);
  padding-inline: 0;
  padding-block: 0.75em;
  line-height: 1.4;
  text-wrap: balance;
  text-align: center;
}

.alert {
  --stack-space: 2em;
  font-size: var(--step-0);
  background: var(--color-primary);
  color: #fff;
  padding: 1.375em 1.25em;
  border-radius: 0.75em;
  position: relative;

  & + * {
    --stack-space: 2em;
  }

  > * {
    color: #fff;
  }

  > * + * {
    margin-block-start: var(--space-xs-s);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid var(--color-secondary);
    border-radius: 0.75em;
    pointer-events: none;
  }

  &::before {
    inset: 0.25em;
    transform: skewX(1deg) skewY(0.5deg);
  }

  &::after {
    inset: -0.25em -0.25em;
    transform: skewX(-1deg) skewY(-1deg) skewX(3deg);
  }
}

/* .figure {
  margin-block-start: 2em;

  img {
    width: 100%;
    height: auto;
  }

  figcaption {
    font-size: var(--step--1);
    color: var(--color-lightgray);
    line-height: 1.3;
    text-wrap: pretty;
    margin-block-start: 0.25em;
  }

  & + * {
    margin-block-start: 2em;
  }
} */
