.page-grid {
  display: grid;
  grid-template-columns: 2.5fr 5px 1fr;
  transition: var(--transition-base);

  @media (max-width: 42em) {
    grid-template-columns: 1fr !important;
  }

  @container layout (max-width: 42em) {
    grid-template-columns: 1fr !important;
  }
}
