.select-input-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);

  .custom-select {
    position: relative;
    flex-grow: 1;

    &::before {
      content: "";
      position: absolute;
      height: calc(100% - 5px);
      top: calc(50% + 0.5px);
      aspect-ratio: 1;
      right: 2px;
      translate: 0 -50%;
      background-image: url('data:image/svg+xml,<svg width="14" height="28" viewBox="0 0 14 28" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="-1.5" x2="18.4391" y2="-1.5" transform="matrix(-0.650791 -0.759257 -0.650791 0.759257 12 28)" stroke="white" stroke-width="3"/><line y1="-1.5" x2="18.4391" y2="-1.5" transform="matrix(-0.650791 0.759257 -0.650791 -0.759257 12 0)" stroke="white" stroke-width="3"/></svg>');
      background-size: 50% 50%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      rotate: -90deg;
      pointer-events: none;
      transition: var(--transition-base);
      background-color: var(--color-mediumgray);
    }

    &:hover {
      &::before {
        background-color: var(--color-mediumgray-hover);
      }

      select {
        border-color: var(--color-white);
      }
    }

    select {
      background-color: transparent;
      padding: 0.35rem var(--space-2xs);
      appearance: none;
      width: 100%;
      transition: var(--transition-base);
      cursor: pointer;
      color: var(--color-lightgray);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:focus-visible {
        border-radius: 0;
        outline: 1px dashed var(--color-white);
        outline-offset: 3px;
      }

      &:hover {
        border-color: var(--color-white);
      }
    }

    @supports (appearance: base-select) {
      select,
      ::picker(select) {
        appearance: base-select;
      }

      select {
        border-radius: 0;
      }

      optgroup {
        overflow-x: hidden;
        background-color: var(--color-mediumgray);
        color: var(--color-white);
        padding-block: var(--space-2xs);

        &:first-of-type {
          padding-top: var(--space-xs);
        }

        &:last-of-type {
          padding-bottom: var(--space-xs);
        }
      }

      option {
        &::checkmark {
          content: "☞";
          font-size: 1.3rem;
        }
      }
    }
  }
}

select[name="text-align"] {
  cursor: pointer;

  &,
  &::picker(select) {
    appearance: base-select;

    --height: 0.15rem;
    --width: 75%;

    option {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::checkmark {
        content: "☞";
        font-size: 1.3rem;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: calc(var(--height) * 2);
        height: calc(var(--height) * 15);
        width: 3rem;
        padding-block: calc(var(--height) * 4);
        padding-inline-end: var(--space-2xs);

        span {
          height: var(--height);
          background-color: var(--color-black);
          border-radius: var(--space-2xs);
        }
      }
    }

    option[value="start"] {
      div span {
        width: var(--width);

        &:nth-of-type(2) {
          width: 100%;
        }
      }
    }

    option[value="end"] {
      div span {
        width: var(--width);
        align-self: end;

        &:nth-of-type(2) {
          width: 100%;
        }
      }
    }

    option[value="center"] {
      div span {
        width: var(--width);
        align-self: center;

        &:nth-of-type(2) {
          width: 100%;
        }
      }
    }

    option[value="justify"] {
      div span {
        width: 100%;
      }
    }
  }
}
