.slider-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.slider-label {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
}

.slider-value {
  min-width: 4ch;
  text-align: right;
  font-weight: bold;
}

.slider-max {
  display: none;
}

@media (width > 42em) {
  .slider-max {
    display: flex;
  }

  .slider-min {
    display: none;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  &:focus-visible {
    outline-color: var(--color-white);
    outline-offset: 0.2rem;
  }

  &:hover {
    &::-webkit-slider-thumb {
      background-color: var(--color-lightgray);
    }

    &::-moz-range-thumb {
      background-color: var(--color-lightgray);
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background-image: linear-gradient(
      var(--color-mediumgray) 0 45%,
      var(--color-lightgray) 45% 55%,
      var(--color-mediumgray) 55% 100%
    );
  }

  &::-moz-range-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background-image: linear-gradient(
      var(--color-mediumgray) 0 45%,
      var(--color-lightgray) 45% 55%,
      var(--color-mediumgray) 55% 100%
    );
  }

  &::-webkit-slider-thumb {
    border-radius: 0.2rem;
    aspect-ratio: 1/1.75;
    height: 1.2rem;
    background-color: var(--color-white);
    -webkit-appearance: none;
    transition: var(--transition-base);
  }

  &::-moz-range-thumb {
    border-radius: 0.2rem;
    aspect-ratio: 1/1.75;
    height: 1.2rem;
    background-color: var(--color-white);
    -webkit-appearance: none;
    transition: var(--transition-base);
  }
}

#maxFontSizeValue::after,
#contentWidthValue::after {
  content: "px";
}
