.small-typography-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--color-mediumgray);
  color: var(--color-white);
  display: none;
  flex-direction: row-reverse;
  transition: var(--transition-base);

  &[aria-expanded="false"] {
    translate: calc(-100% + var(--space-l)) 0;

    button svg {
      scale: -1 1;
    }
  }

  button {
    cursor: pointer;
    transition: var(--transition-base);
    padding-inline: var(--space-2xs);
    width: var(--space-l);

    &:hover {
      background-color: var(--color-mediumgray-hover);
    }

    &:focus-visible {
      outline: 1px dashed var(--color-white);
      outline-offset: -4px;
      background-color: var(--color-darkgray);

      svg {
        outline: 1px dotted var(--color-lightgray);
        outline-offset: 12px;
        border-radius: 5rem;
      }
    }

    svg {
      scale: 1 1;
      transition: var(--transition-base);
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-s);
    padding-inline-end: 0;

    label {
      font-family: var(--font-controls);
    }
  }

  @container layout (max-width: 42em) {
    display: flex;
  }
}
