.state-panel {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-lightgray);

  label {
    padding: var(--space-3xs) var(--space-xs);
    outline: 1px solid var(--color-lightgray);

    &:has(input:checked) {
      background-color: var(--color-lightgray);
      color: var(--color-black);
    }
  }
}
