.warning {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 5%;
}

#copy-warning {
  font-family: var(--font-controls);
  font-size: 1rem;
  margin-top: var(--space-s);
  padding: var(--space-2xs);
  border: 2px solid red;
  background-color: rgba(214, 141, 141, 0.309);
  font-weight: 600;
  border-radius: 0.25rem;
}
