/* Place your fonts in `./src/assets/fonts` as woff2 and import them here like following: */

/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/robotoo.woff2") format("woff2");
  font-display: swap;
} */
