<div class="main-control-panel__typography stack-xs">
    <input type="file" id="headline-font-upload" accept=".woff,.woff2,.ttf,.otf" style="display:none" />
    <input type="file" id="body-font-upload" accept=".woff,.woff2,.ttf,.otf" style="display:none" />
    <h2>Base Typography</h2>
    <div class="select-input-container">
    <label for="headline-font-selector">Headlines</label>
    <div class="cluster" style="--cluster-alignment: center; flex-wrap: nowrap;">
        <div class="custom-select">
        <select name="headline-font-selector" id="headline-font-selector">
            <option disabled selected>Select a font</option>
        </select>
        </div>

        <div>
        <label class="button button--primary" for="headline-font-upload">
            {% icon icon="plus", alt="", width="var(--space-xs)" %}
            <input class="hidden" type="file" id="headline-font-upload" accept=".ttf,.otf,.woff,.woff2">
        </label>
        </div>
    </div>
    </div>

    <div class="select-input-container">
        <label for="body-font-selector">Body text</label>
        <div class="cluster" style="--cluster-alignment: center; flex-wrap: nowrap;">
            <div class="custom-select">
            <select name="body-font-selector" id="body-font-selector">
                <option disabled selected>Select a font</option>
            </select>
            </div>

            <div>
            <label class="button button--primary" for="body-font-upload">
                {% icon icon="plus", alt="", width="var(--space-xs)" %}
                <input class="hidden" type="file" id="body-font-upload" accept=".ttf,.otf,.woff,.woff2">
            </label>
            </div>
        </div>
    </div>

    <!-- Slider for minFontSize -->
    <div class="slider-container slider-min">
        <div class="slider-label">
            <label for="minFontSize">Font Size (small):</label>
            <span id="minFontSizeValue" class="slider-value">18</span>
        </div>
        <input type="range" id="minFontSize" name="minFontSize" min="16" max="19" step="1" value="16">
    </div>

    <!-- Slider for minTypeScale -->
    <div class="slider-container slider-min">
        <div class="slider-label">
            <label for="minTypeScale">Type Scale (small):</label>
            <span id="minTypeScaleValue" class="slider-value">1.2</span>
        </div>
        <input type="range" id="minTypeScale" name="minTypeScale" min="1.05" max="1.3" step="0.05" value="1.05">
    </div>

    <!-- Slider for maxFontSize -->
    <div class="slider-container slider-max">
        <div class="slider-label">
            <label for="maxFontSize">Font Size:</label>
            <span id="maxFontSizeValue" class="slider-value">21</span>
        </div>
        <input type="range" id="maxFontSize" name="maxFontSize" min="18" max="24" step="1" value="19">
    </div>

    <!-- Slider for maxTypeScale -->
    <div class="slider-container slider-max">
        <div class="slider-label">
            <label for="contentWidth">Content Width:</label>
            <span id="contentWidthValue" class="slider-value">400</span>
        </div>
        <input type="range" id="contentWidth" name="contentWidth" min="400" max="800" step="10" value="400">
    </div>

    <!-- Slider for maxTypeScale -->
    <div class="slider-container slider-max">
        <div class="slider-label">
            <label for="maxTypeScale">Type Scale</label>
            <span id="maxTypeScaleValue" class="slider-value">1.25</span>
        </div>
        <input type="range" id="maxTypeScale" name="maxTypeScale" min="1.1" max="1.45" step="0.05" value="1.2">
    </div>

    <!-- Slider for lineHeight -->
    <div class="slider-container slider">
        <div class="slider-label">
            <label for="lineHeight">Line height:</label>
            <span id="lineHeightValue" class="slider-value">1.5</span>
        </div>
        <input type="range" id="lineHeight" name="lineHeight" min="1" max="2.2" step="0.05" value="1.5">
    </div>
</div>