<dialog id="info-dialog">
    <div class="cluster pb-s" style="--cluster-justification: space-between;">
        <h2>What's This All About?</h2>
        <button autofocus class="dialog-close text-black">
            {% icon icon="close", alt="", width="var(--space-s)" %}
            <span class="sr-only">Close this information panel</span>
        </button>
    </div>

    <div class="info-dialog__content">
        <p>This tool is here to help you create Fluid Typography - a smarter, more scalable approach to type sizing across screen sizes. Instead of relying on a fixed <i>pt</i> size in Figma, fluid typography adapts seamlessly from mobile to desktop.</p>
        <p>At the heart of this project is the CSS <i>clamp()</i> function, which allows you to define flexible font-sizing. It grows and shrinks between a minimum and maximum value, based on viewport width.</p>
        <p>There is a really good calculator for this, it's called <a href="https://utopia.fyi/">Utopia</a> and was developed by <a href="https://clearleft.com/">Clearleft</a>. My goal here was to create a visual playground that integrates this stuff.</p>
        <p>But I don't want to bore you with that technical stuff. I'd like for you to play around with the typography, export the values and send them to your fave front-end dev. Or, go play around with some code yourself. It's fun, I promise!</p>
        <p>If you are interested to know more about what inspired me to create this thing, here are some really good articles that are super worth the read.</p>
        <ul role="list" class="info-dialog__list">
            <li><a target="_blank" href="https://alistapart.com/article/dao/">A Dao of Web Design. - John Allsopp</a></li>
            <li><a target="_blank" href="https://www.htmhell.dev/adventcalendar/2023/1/">The UX of HTML. - Vasilis van Gemert</a></li>
            <li><a target="_blank" href="https://utopia.fyi/blog/designing-with-fluid-type-scales/">Designing with fluid type scales. - J. Gilyead</a></li>
        </ul>
        <p>Anyway, hope you enjoy playing around with it. <br> Cheers, <i>Eva</i></p>
    </div>
</dialog>