{% set textBlocks = [
  { id: "h1-1", title: "Headline 1", defaultStep: 5, defaultLineHeight: 1.5 },
  { id: "p-1", title: "Paragraph 1", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "h2-1", title: "Headline 2", defaultStep: 3, defaultLineHeight: 1.5 },
  { id: "p-2", title: "Paragraph 2", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-3", title: "Paragraph 3", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "quote-1", title: "Quote 1", defaultStep: 4, defaultLineHeight: 1.5 },
  { id: "p-4", title: "Paragraph 4", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "alert-1", title: "Alert 1", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-5", title: "Paragraph 5", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-6", title: "Paragraph 6", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "h2-2", title: "Headline 3", defaultStep: 3, defaultLineHeight: 1.5 },
  { id: "p-7", title: "Paragraph 7", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-8", title: "Paragraph 8", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "quote-2", title: "Quote 2", defaultStep: 4, defaultLineHeight: 1.5 },
  { id: "double-column-1", title: "Double Column 1", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "email", title: "Form: Email", defaultStep: 3, defaultLineHeight: 1.5 },
  { id: "h2-3", title: "Headline 4", defaultStep: 3, defaultLineHeight: 1.5 },
  { id: "p-9", title: "Paragraph 9", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-10", title: "Paragraph 10", defaultStep: 0, defaultLineHeight: 1.5 }
] %}

<div class="exception-controls">
  <a class="back-button" href="#">
    {% icon icon="close", alt="", width="var(--space-s)" %}
    <span class="sr-only">Close button controls</span>
  </a>

  {% for block in textBlocks %}
  <div id="{{ block.id }}" class="exception-controls__{{ block.id }}">
    <h2>{{ block.title }}</h2>

    <details open>
      <summary>Show/Hide Type Scale</summary>
      <form>
        {% for step in [6,5,4,3,2,1,0,"-1"] %}
          {% set stepStr = 'step-' ~ step %}
          <label for="{{ block.id }}-{{ stepStr }}"style="font-size: {{ 'var(--' ~ stepStr ~ ')' }}">
            Step {{ step }}
            <input
              name="{{ block.id }}-type-scale"
              id="{{ block.id }}-{{ stepStr }}"
              class="hidden"
              type="radio"
              {% if step | string == block.defaultStep | string %}checked{% endif %}
            >
          </label>
        {% endfor %}
      </form>
    </details>

    <div class="slider-container slider">
      <div class="slider-label">
        <label for="lineHeight{{ block.id }}">Line height:</label>
        <span id="lineHeight{{ block.id }}Value" class="slider-value">{{ block.defaultLineHeight }}</span>
      </div>
      <input
        type="range"
        id="lineHeight{{ block.id }}"
        name="lineHeight{{ block.id }}"
        min="1"
        max="2.2"
        step="0.05"
        value="{{ block.defaultLineHeight }}"
      >
    </div>

    <div>
        <h3 class="pb-2xs">Text Alignment</h3>
        <select name="text-align" id="text-align-{{ block.id }}">
        <option value="start" {% if block.id != 'quote-1' and block.id != 'quote-2' %}selected{% endif %}>
            <span>Start</span>
            <div>
                <span></span><span></span><span></span>
            </div>
        </option>
        <option value="end">
            <span>End</span>
            <div>
                <span></span><span></span><span></span>
            </div>
        </option>
        <option value="center" {% if block.id == 'quote-1' or block.id == 'quote-2' %}selected{% endif %}>
            <span>Center</span>
            <div>
                <span></span><span></span><span></span>
            </div>
        </option>
        <option value="justify">
            <span>Justify</span>
            <div>
            <span></span><span></span><span></span>
            </div>
        </option>
        </select>
    </div>

    <label for="{{ block.id }}-contenteditable">
      Edit text content
      <input id="{{ block.id }}-contenteditable" type="checkbox">
    </label>
  </div>
  {% endfor %}
</div>
