<div class="exception-controls">
    <a class="back-button" href="#">{% icon icon="close", alt="", width="var(--space-s)" %}<span class="sr-only">Close button controls</span></a>

    <div id="h1-1" class="exception-controls__h1-1">
        <h2>Headline 1</h2>

        <details open>
            <summary>Show/Hide Type Scale</summary>
            <form>
                <label for="step-6" style="font-size: var(--step-6)">
                    Step 6
                    <input name="h1-1-type-scale" id="step-6" class="hidden" type="radio">
                </label>
                <label style="font-size: var(--step-5)">
                    Step 5
                    <input name="h1-1-type-scale" id="step-5" class="hidden" type="radio" checked>
                </label>
                <label style="font-size: var(--step-4)">
                    Step 4
                    <input name="h1-1-type-scale" id="step-4" class="hidden" type="radio">
                </label>
                <label style="font-size: var(--step-3)">
                    Step 3
                    <input name="h1-1-type-scale" id="step-3" class="hidden" type="radio">
                </label>
                <label style="font-size: var(--step-2)">
                    Step 2
                    <input name="h1-1-type-scale" id="step-2" class="hidden" type="radio">
                </label>
                <label style="font-size: var(--step-1)">
                    Step 1
                    <input name="h1-1-type-scale" id="step-1" class="hidden" type="radio">
                </label>
                <label style="font-size: var(--step-0)">
                    Step 0
                    <input name="h1-1-type-scale" id="step-0" class="hidden" type="radio">
                </label>
                <label style="font-size: var(--step--1)">
                    Step -1
                    <input name="h1-1-type-scale" id="step--1" class="hidden" type="radio">
                </label>
            </form>
        </details>

        <div class="slider-container slider">
            <div class="slider-label">
                <label for="lineHeightH1-1">Line height:</label>
                <span id="lineHeightH1-1Value" class="slider-value">1.5</span>
            </div>
            <input type="range" id="lineHeightH1-1" name="lineHeightH1-1" min="1" max="2.2" step="0.05" value="1.5">
        </div>

        <label for="h1-1-contenteditable">
            Edit text content
            <input id="h1-1-contenteditable" type="checkbox">
        </label>
    </div>

    <div id="quote-1" class="exception-controls__quote-1">
        <h2>Quote 1</h2>
    </div>
</div>