<!-- <div class="exception-controls">
    <a class="back-button" href="#">{% icon icon="close", alt="", width="var(--space-s)" %}<span class="sr-only">Close button controls</span></a>

    <div id="h1-1" class="exception-controls__h1-1">
        <h2>Headline 1</h2>

        <details open>
            <summary>Show/Hide Type Scale</summary>
            <form>
                <label for="h1-1-step-6" style="font-size: var(--step-6)">
                    Step 6
                    <input name="h1-1-type-scale" id="h1-1-step-6" class="hidden" type="radio">
                </label>
                <label for="h1-1-step-5" style="font-size: var(--step-5)">
                    Step 5
                    <input name="h1-1-type-scale" id="h1-1-step-5" class="hidden" type="radio" checked>
                </label>
                <label for="h1-1-step-4" style="font-size: var(--step-4)">
                    Step 4
                    <input name="h1-1-type-scale" id="h1-1-step-4" class="hidden" type="radio">
                </label>
                <label for="h1-1-step-3" style="font-size: var(--step-3)">
                    Step 3
                    <input name="h1-1-type-scale" id="h1-1-step-3" class="hidden" type="radio">
                </label>
                <label for="h1-1-step-2" style="font-size: var(--step-2)">
                    Step 2
                    <input name="h1-1-type-scale" id="h1-1-step-2" class="hidden" type="radio">
                </label>
                <label for="h1-1-step-1" style="font-size: var(--step-1)">
                    Step 1
                    <input name="h1-1-type-scale" id="h1-1-step-1" class="hidden" type="radio">
                </label>
                <label for="h1-1-step-0" style="font-size: var(--step-0)">
                    Step 0
                    <input name="h1-1-type-scale" id="h1-1-step-0" class="hidden" type="radio">
                </label>
                <label for="h1-1-step--1" style="font-size: var(--step--1)">
                    Step -1
                    <input name="h1-1-type-scale" id="h1-1-step--1" class="hidden" type="radio">
                </label>
            </form>
        </details>


        <div class="slider-container slider">
            <div class="slider-label">
                <label for="lineHeighth1-1">Line height:</label>
                <span id="lineHeighth1-1Value" class="slider-value">1.5</span>
            </div>
            <input type="range" id="lineHeighth1-1" name="lineHeighth1-1" min="1" max="2.2" step="0.05" value="1.5">
        </div>

        <label for="h1-1-contenteditable">
            Edit text content
            <input id="h1-1-contenteditable" type="checkbox">
        </label>
    </div>









    <div id="quote-1" class="exception-controls__quote-1">
        <h2>Quote 1</h2>

         <details open>
            <summary>Show/Hide Type Scale</summary>
            <form>
                <label for="quote-1-step-6" style="font-size: var(--step-6)">
                    Step 6
                    <input name="quote-1-type-scale" id="quote-1-step-6" class="hidden" type="radio">
                </label>
                <label for="quote-1-step-5" style="font-size: var(--step-5)">
                    Step 5
                    <input name="quote-1-type-scale" id="quote-1-step-5" class="hidden" type="radio">
                </label>
                <label for="quote-1-step-4" style="font-size: var(--step-4)">
                    Step 4
                    <input name="quote-1-type-scale" id="quote-1-step-4" class="hidden" type="radio" checked>
                </label>
                <label for="quote-1-step-3" style="font-size: var(--step-3)">
                    Step 3
                    <input name="quote-1-type-scale" id="quote-1-step-3" class="hidden" type="radio">
                </label>
                <label for="quote-1-step-2" style="font-size: var(--step-2)">
                    Step 2
                    <input name="quote-1-type-scale" id="quote-1-step-2" class="hidden" type="radio">
                </label>
                <label for="quote-1-step-1" style="font-size: var(--step-1)">
                    Step 1
                    <input name="quote-1-type-scale" id="quote-1-step-1" class="hidden" type="radio">
                </label>
                <label for="quote-1-step-0" style="font-size: var(--step-0)">
                    Step 0
                    <input name="quote-1-type-scale" id="quote-1-step-0" class="hidden" type="radio">
                </label>
                <label for="quote-1-step--1" style="font-size: var(--step--1)">
                    Step -1
                    <input name="quote-1-type-scale" id="quote-1-step--1" class="hidden" type="radio">
                </label>
            </form>
        </details>

        <div class="slider-container slider">
            <div class="slider-label">
                <label for="lineHeightquote-1">Line height:</label>
                <span id="lineHeightquote-1Value" class="slider-value">1.5</span>
            </div>
            <input type="range" id="lineHeightquote-1" name="lineHeightquote-1" min="1" max="2.2" step="0.05" value="1.5">
        </div>

        <label for="quote-1-contenteditable">
            Edit text content
            <input id="quote-1-contenteditable" type="checkbox">
        </label>
    </div>
</div> -->

{% set textBlocks = [
  { id: "h1-1", title: "Headline 1", defaultStep: 5, defaultLineHeight: 1.5 },
  { id: "p-1", title: "Paragraph 1", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "h2-1", title: "Headline 2", defaultStep: 3, defaultLineHeight: 1.5 },
  { id: "p-2", title: "Paragraph 2", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-3", title: "Paragraph 3", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "quote-1", title: "Quote 1", defaultStep: 4, defaultLineHeight: 1.5 },
  { id: "p-4", title: "Paragraph 4", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "alert-1", title: "Alert 1", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-5", title: "Paragraph 5", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-6", title: "Paragraph 6", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "h2-2", title: "Headline 3", defaultStep: 3, defaultLineHeight: 1.5 },
  { id: "p-7", title: "Paragraph 7", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-8", title: "Paragraph 8", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "quote-2", title: "Quote 2", defaultStep: 4, defaultLineHeight: 1.5 },
  { id: "double-column-1", title: "Double Column 1", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "email", title: "Form: Email", defaultStep: 3, defaultLineHeight: 1.5 },
  { id: "h2-3", title: "Headline 4", defaultStep: 3, defaultLineHeight: 1.5 },
  { id: "p-9", title: "Paragraph 9", defaultStep: 0, defaultLineHeight: 1.5 },
  { id: "p-10", title: "Paragraph 10", defaultStep: 0, defaultLineHeight: 1.5 }
] %}

<div class="exception-controls">
  <a class="back-button" href="#">
    {% icon icon="close", alt="", width="var(--space-s)" %}
    <span class="sr-only">Close button controls</span>
  </a>

  {% for block in textBlocks %}
  <div id="{{ block.id }}" class="exception-controls__{{ block.id }}">
    <h2>{{ block.title }}</h2>

    <details open>
      <summary>Show/Hide Type Scale</summary>
      <form>
        {% for step in [6,5,4,3,2,1,0,"-1"] %}
          {% set stepStr = 'step-' ~ step %}
          <label for="{{ block.id }}-{{ stepStr }}"style="font-size: {{ 'var(--' ~ stepStr ~ ')' }}">
            Step {{ step }}
            <input
              name="{{ block.id }}-type-scale"
              id="{{ block.id }}-{{ stepStr }}"
              class="hidden"
              type="radio"
              {% if step | string == block.defaultStep | string %}checked{% endif %}
            >
          </label>
        {% endfor %}
      </form>
    </details>

    <div class="slider-container slider">
      <div class="slider-label">
        <label for="lineHeight{{ block.id }}">Line height:</label>
        <span id="lineHeight{{ block.id }}Value" class="slider-value">{{ block.defaultLineHeight }}</span>
      </div>
      <input
        type="range"
        id="lineHeight{{ block.id }}"
        name="lineHeight{{ block.id }}"
        min="1"
        max="2.2"
        step="0.05"
        value="{{ block.defaultLineHeight }}"
      >
    </div>

    <label for="{{ block.id }}-contenteditable">
      Edit text content
      <input id="{{ block.id }}-contenteditable" type="checkbox">
    </label>
  </div>
  {% endfor %}
</div>
