
<div id="main-control-panel">
  <button class="main-control-panel__button" aria-expanded="true" aria-controls="main-control-panel">
    {% icon icon="arrowhead", alt="", width="var(--space-s)" %}
    <span class="sr-only">open/close control panel</span>
  </button>

  <div class="main-control-panel__scroll-container">
    <div class="main-control-panel__base-controls">

      {% include "partials/blocks/base-typography.njk" %}

      <div class="main-control-panel__colors stack-xs">
        <h2>Colors</h2>
        <div class="stack-xs">
          <button class="button--primary" id="refresh-colors">Generate Color Palette 🎨</button>

          <div class="color-picker-group">
            <h3>Headlines</h3>
            <div class="color-inputs">
              <input type="color" id="headline-color" name="headline-color" value="#0055ff">
              <input type="text" id="headline-hex" name="headline-hex" value="#0055ff" maxlength="7">
              <span class="warning headline-warning"></span>
            </div>
          </div>

          <div class="color-picker-group">
            <h3>Body text</h3>
            <div class="color-inputs">
              <input type="color" id="body-color" name="body-color" value="#000000">
              <input type="text" id="body-hex" name="body-hex" value="#000000" maxlength="7">
              <span class="warning body-warning"></span>
            </div>
          </div>

          <div class="color-picker-group">
            <h3>Background</h3>
            <div class="color-inputs">
              <input type="color" id="background-color" name="background-color" value="#faf4ed">
              <input type="text" id="background-hex" name="background-hex" value="#faf4ed" maxlength="7">
            </div>
          </div>
          
          <div class="color-picker-group">
            <h3>Details</h3>
            <div class="color-inputs">
              <input type="color" id="details-color" name="details-color" value="#ff5500">
              <input type="text" id="details-hex" name="details-hex" value="#ff5500" maxlength="7">
            </div>
          </div>
        </div>
      </div>

      <div class="main-control-panel__css-output stack-xs">
        <h2>Generated Type Scale</h2>
        <details>
          <summary>See Code</summary>
          <div class="details-content">
            <pre><code class="css-output language-css" id="cssOutput"></code></pre>
          </div>
        </details>
        <button class="button--primary" id="copyCSSButton">
          Copy CSS Variables
          <span>
            {% icon icon="copy", alt="", width="var(--space-xs)" %}
          </span>
        </button>
      </div>
    </div>
    

    {% include "partials/blocks/button-controls.njk" %}
  </div>
</div>