
<div id="main-control-panel">
  <button class="main-control-panel__button" aria-expanded="true" aria-controls="main-control-panel">
    {% icon icon="arrowhead", alt="", width="var(--space-s)" %}
    <span class="sr-only">open/close control panel</span>
  </button>

  <div class="main-control-panel__scroll-container">
    <div class="main-control-panel__base-controls">

      {% include "partials/blocks/base-typography.njk" %}

      <div class="main-control-panel__colors stack-xs">
        <h2>Colors</h2>
        <div class="stack-s">
          <div class="color-picker-group">
            <h3>Headlines</h3>
            <div class="color-inputs">
              <input type="color" id="headline-color" name="headline-color" value="#2e056f">
              <input type="text" id="headline-hex" name="headline-hex" value="#2e056f" maxlength="7">
              <span class="warning headline-warning"></span>
            </div>
          </div>

          <div class="color-picker-group">
            <h3>Body text</h3>
            <div class="color-inputs">
              <input type="color" id="body-color" name="body-color" value="#790b2f">
              <input type="text" id="body-hex" name="body-hex" value="#790b2f" maxlength="7">
              <span class="warning body-warning"></span>
            </div>
          </div>

          <div class="color-picker-group">
            <h3>Background</h3>
            <div class="color-inputs">
              <input type="color" id="background-color" name="background-color" value="#6ed5fc">
              <input type="text" id="background-hex" name="background-hex" value="#6ed5fc" maxlength="7">
            </div>
          </div>
          
          <div class="color-picker-group">
            <h3>Details</h3>
            <div class="color-inputs">
              <input type="color" id="details-color" name="details-color" value="#3c1952">
              <input type="text" id="details-hex" name="details-hex" value="#3c1952" maxlength="7">
            </div>
          </div>

          <button class="button--primary" id="refresh-colors">Generate Random Palette 🎨</button>
        </div>
      </div>

      <div class="main-control-panel__css-output stack-xs">
        <h2>Generated Variables</h2>
        <fieldset>
          <legend>Include:</legend>
          <div>
            <label for="base-typography">
              Base Typography
              <input id="base-typography" type="checkbox" checked>
            </label>

            <label for="colors">
              Colors
              <input id="colors" type="checkbox" checked>
            </label>

            <label for="button-styling">
              Button styling
              <input id="button-styling" type="checkbox" checked>
            </label>
          </div>
        </fieldset>

        <details>
          <summary>See Code</summary>
          <div class="details-content">
            <pre><code class="css-output language-css" id="cssOutput"></code></pre>
          </div>
        </details>
        <button class="button--primary" id="copyCSSButton">
          Copy CSS Variables
          <span>
            {% icon icon="copy", alt="", width="var(--space-xs)" %}
          </span>
        </button>
      </div>
    </div>

    {% include "partials/blocks/button-controls.njk" %}

    {% include "partials/blocks/exception-controls.njk" %}

  </div>
</div>