---
title: "Home"
layout: "layouts/base.njk"
permalink: /
---

<div class="page-layout">
  <h1 class="popout">Typography: The Art of Making Fonts Fight</h1>

  <p class="intro popout">Typography is an ancient and noble craft, dating back to the days when monks meticulously hand-drew letters while cursing their quills. Today, we have the privilege of choosing fonts with a mere click, yet somehow, we still manage to mess it up.</p>

  <h2>The War of the Fonts</h2>

  <p>There are two kinds of people in the world: those who use Helvetica and those who use Comic Sans. The former are design purists, the latter enjoy chaos. Somewhere in the middle, Times New Roman sits quietly, waiting for someone to remember it exists.</p>

  <p>The battles are fierce: Serif vs. Sans-Serif, Monospace vs. Proportional, Blackletter vs. "That Weird Handwriting Font That No One Can Read." Each believes they are superior. But in reality, the only true loser is Papyrus.</p>

  <div class="full-width bg-primary text-white p-l-xl">
    <blockquote class="quote extend serif">“Choosing the wrong font is like wearing Crocs to a job interview – it sends a message, and not a good one.”</blockquote>
  </div>

  <p>Fonts have personalities. Arial is the dependable office worker who gets things done. Garamond is the refined intellectual with a taste for fine literature. Impact is the guy at the gym who only works on his upper body. And then there’s Wingdings, the drunk uncle who shows up at weddings speaking a language no one understands.</p>

  <div class="alert popout">
    <h3>Warning: Font Crimes</h3>
    <p>Using too many fonts in a single design is a crime punishable by graphic designers rolling their eyes so hard they sprain something. Stick to two or three fonts, unless you want your text to look like a ransom note.</p>
  </div>

  <p>And while we’re on the subject of font crimes: Stretching text unnaturally is a sin. If you want a wider font, choose one. Don’t force Arial to be something it’s not. Arial has been through enough.</p>

  <p>Kerning, the spacing between letters, is also an art. Too tight, and your words become an unreadable mess. Too loose, and your sentence looks like it’s in the process of breaking up. Balance is key.</p>

  <h2>Typographic Hierarchy: Making Text Behave</h2>

  <p>Imagine a dinner party where no one knows who’s supposed to be speaking. That’s what happens when you ignore typographic hierarchy. Headings, subheadings, and body text all play their roles. Mixing them up is like putting a toddler in charge of the wine list.</p>

  <p>Size matters. Your heading should not be smaller than your paragraph text unless you enjoy confusing your readers. And bold is for emphasis, not for entire paragraphs. Don’t shout at your readers – they’ll leave.</p>
  <div class="full-width bg-primary text-white p-l-xl">
    <blockquote class="quote extend">“If everything is bold, then nothing is bold.”<br><span> – A Frustrated Designer</span></blockquote>
  </div>

  <h2>The Final Word on Fonts</h2>

  <p>Typography is not just about letters; it’s about personality, readability, and making sure your audience doesn’t suffer an eye strain-induced meltdown. Choose wisely, space generously, and for the love of all things legible, never, ever use Papyrus.</p>

  <p>And if all else fails, just use Helvetica. No one ever got fired for using Helvetica.</p>

</div>

<div id="type-control-panel">
  <button class="type-control-panel__button" aria-expanded="true" aria-controls="type-control-panel">
    {% icon icon="arrowhead", alt="", width="var(--space-m)" %}
    <span class="sr-only">open/close control panel</span>
  </button>

  <!-- Slider for minFontSize -->
  <div class="slider-container slider-min">
    <div class="slider-label">
      <label for="minFontSize">Font Size (small):</label>
      <span id="minFontSizeValue" class="slider-value">18</span>
    </div>
    <input type="range" id="minFontSize" name="minFontSize" min="16" max="19" step="1" value="16">
  </div>

  <!-- Slider for minTypeScale -->
  <div class="slider-container slider-min">
    <div class="slider-label">
      <label for="minTypeScale">Type Scale (small):</label>
      <span id="minTypeScaleValue" class="slider-value">1.2</span>
    </div>
    <input type="range" id="minTypeScale" name="minTypeScale" min="1.05" max="1.3" step="0.05" value="1.05">
  </div>

  <!-- Slider for maxFontSize -->
  <div class="slider-container slider-max">
    <div class="slider-label">
      <label for="maxFontSize">Font Size (large):</label>
      <span id="maxFontSizeValue" class="slider-value">21</span>
    </div>
    <input type="range" id="maxFontSize" name="maxFontSize" min="18" max="24" step="1" value="19">
  </div>

  <!-- Slider for maxTypeScale -->
  <div class="slider-container slider-max">
    <div class="slider-label">
      <label for="contentWidth">Content Width:</label>
      <span id="contentWidthValue" class="slider-value">400</span>
    </div>
    <input type="range" id="contentWidth" name="contentWidth" min="400" max="800" step="10" value="400">
  </div>

  <!-- Slider for maxTypeScale -->
  <div class="slider-container slider-max">
    <div class="slider-label">
      <label for="maxTypeScale">Type Scale (large):</label>
      <span id="maxTypeScaleValue" class="slider-value">1.25</span>
    </div>
    <input type="range" id="maxTypeScale" name="maxTypeScale" min="1.1" max="1.45" step="0.05" value="1.2">
  </div>

  <!-- Slider for lineHeight -->
  <div class="slider-container slider">
    <div class="slider-label">
      <label for="lineHeight">Line height:</label>
      <span id="lineHeightValue" class="slider-value">1.5</span>
    </div>
    <input type="range" id="lineHeight" name="lineHeight" min="1" max="2.2" step="0.05" value="1.5">
  </div>
</div>

<div id="main-control-panel">
  <button class="main-control-panel__button" aria-expanded="true" aria-controls="main-control-panel">
    {% icon icon="arrowhead", alt="", width="var(--space-m)" %}
    <span class="sr-only">open/close control panel</span>
  </button>

  <div class="main-control-panel__typography stack-xs">
    <h2>Typography</h2>
    <div class="select-input-container">
      <label for="headline-font-selector">H</label>
      <div class="custom-select">
        <select name="headline-font-selector" id="headline-font-selector">
          <option disabled selected>Select a font</option>
        </select>
      </div>
    </div>

    <div class="select-input-container">
      <label for="body-font-selector">P</label>
      <div class="custom-select">
        <select name="body-font-selector" id="body-font-selector">
          <option disabled selected>Select a font</option>
        </select>
      </div>
    </div>

    <div>
      <label class="button button--primary" for="font-upload">
        Upload Font File
        {% icon icon="plus", alt="", width="var(--space-xs)" %}
      </label>
      <input class="hidden" type="file" id="font-upload" accept=".ttf,.otf,.woff,.woff2">
    </div>
  </div>

  <div class="main-control-panel__grid stack-xs">
    <h2>Layout grid</h2>
    <div class="grid-type-selector select-input-container">
      <label for="layout-grid" class="sr-only">Grid type</label>
      <div class="custom-select">
        <select name="layout-grid" id="layout-grid">
          <option value="columns">Columns</option>
          <option value="grid">Grid</option>
        </select>
      </div>
      <button class="grid-type-selector__button">
        <span class="sr-only">Show/hide grid</span>
        {% icon icon="eye", alt="", width="var(--space-s)" %}
      </button> 
    </div>
  </div>

  <div class="main-control-panel__content stack-xs">
    <h2>Content</h2>
    <div class="content-preview">
      <p class="h1-styling">Heading 1</p>
      <p class="h2-styling">Heading 2</p>
      <p class="h3-styling">Heading 3</p>
      <p class="p-styling">Paragraph</p>
      <p class="a-styling">Link</p>
      <p class="button-styling">Button</p>
    </div>
  </div>

  <div class="main-control-panel__colors stack-xs">
    <h2>Colors</h2>
    <h3>Primary Color</h3>
    <h3>Secondary Color</h3>
  </div>
</div>

<div id="grid-debugger">
  <div class="grid-grid-lines"></div>
  <div class="grid-column-lines">
    <div class="line line--full-start"></div>
    <div class="line line--xtra-large-start"></div>
    <div class="line line--extend-start"></div>
    <div class="line line--popout-start"></div>
    <div class="line line--content-start"></div>
    <div class="line line--inset-start"></div>
    <div class="line line--inset-end"></div>
    <div class="line line--content-end"></div>
    <div class="line line--popout-end"></div>
    <div class="line line--extend-end"></div>
    <div class="line line--xtra-large-end"></div>
    <div class="line line--full-end"></div>
  </div>
</div>